[Unit]
Description=Obsidian Notes
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/flatpak run md.obsidian.Obsidian
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
